.lk-btn {
  text-align: left;
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding: 10px 12px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
