.lk-check_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  cursor: pointer;

  &--active > .lk-check_switch::before {
    transform: translateX(8px);
    background-color: aqua;
  }
}
