.ca-long-input {
  border: 1px solid #4c5456;
  border-radius: 9px;
  background-color: #232323;
  color: #b5babe;
  width: calc(100% - 36px);
  font-size: 12px;
  margin: 0 18px;
  padding: 11px 15px;
  outline: none;
}
