.ca-btn_group {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80px;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & > button {
    color: #ffffff;
    padding: 0;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border: 1px solid #646b6f;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: transform 0.3s;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }

    &:not(:disabled):hover {
      border-color: #ffffff;
      transform: scale(1.05);
    }

    img {
      pointer-events: none;
    }
  }

  & > span {
    color: #8b8f92;
    font-size: 12px;
  }
}
