html {
  font-size: 13px;
  font-family: "Roboto", "system-ui", sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #090909;
  min-height: 100vh;
  overflow-x: hidden;
}
