::-webkit-scrollbar {
  width: 4px;
  height: 9px;

  &-track {
    background-color: hsla(0, 0%, 4%, 0.5);
  }

  &-thumb {
    background-color: hsl(0, 0%, 90%);
    border-radius: 4px;

    &:hover,
    &:active {
      background-color: aqua;
    }
  }
}

body.scroll-less::-webkit-scrollbar {
  display: none;
}
