.header__options-btn {
  position: absolute;
  top: 16px;
  right: 10px;
  text-align: right;
  width: 97px;
  overflow-x: hidden;
  z-index: 20;

  & button {
    position: relative;
    border: none;
    width: 29px;
    height: 26px;
    border-radius: 0 50% 50% 0;
    backdrop-filter: blur(15px);
    background-color: hsla(0, 0%, 80%, 0.4);
    cursor: pointer;

    &::before {
      content: "Options";
      position: absolute;
      top: 0;
      left: 0;
      color: #090909;
      font-size: 15px;
      font-weight: bold;
      vertical-align: middle;
      padding: 0 5px;
      height: 100%;
      background-color: hsla(0, 0%, 50%, 0.4);
      border-radius: 5px 0 0 5px;
      display: grid;
      place-items: center;
      opacity: 0;
      transition: transform 0.5s, opacity 0.1s 0.1s;
    }
  }

  &--active button::before,
  &:hover button::before {
    transform: translateX(-100%);
    opacity: 1;
  }
}
