html {
  font-size: 13px;
  font-family: "Roboto", "system-ui", sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #090909;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0, 10%);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(69, 69, 69);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: aqua;
}

/* HEADER */
.header {
  background-image: url(../assets/images/background_imgs/min_resolution/trees-4741364_640-compr.png);
  background-size: cover;
  background-position-x: center;
  position: relative;
  height: calc(100vh - 60px);
  display: grid;
  place-items: center;
}

/* HEADER GITHUB LINK */
.header__github-link {
  position: absolute;
  top: 16px;
  left: 10px;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  background-color: hsla(0, 0%, 80%, 0.4);
  z-index: 20;
}

.header__github-link img {
  width: 100%;
  object-fit: cover;
}

/* HEADER OPTIONS BUTTOM */
.header__options-btn {
  position: absolute;
  top: 16px;
  right: 10px;
  text-align: right;
  width: 97px;
  overflow-x: hidden;
  z-index: 20;
}

.header__options-btn button {
  position: relative;
  border: none;
  padding: 12px 8px 12px 6px;
  border-radius: 0 50% 50% 0;
  backdrop-filter: blur(15px);
  background-color: hsla(0, 0%, 80%, 0.4);
  cursor: pointer;
}

.header__options-btn button::before {
  content: "Options";
  position: absolute;
  top: 0;
  left: 0;
  color: #090909;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  padding: 0 5px;
  height: 100%;
  background-color: hsla(0, 0%, 50%, 0.4);
  border-radius: 5px 0 0 5px;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: transform 0.5s, opacity 0.1s 0.1s;
}

.header__options-btn--active button::before,
.header__options-btn:hover button::before {
  transform: translateX(-100%);
  opacity: 1;
}

/* HEADER OPTIONS MENU */
.header__menu {
  position: absolute;
  top: 0px;
  max-width: 400px;
  width: 100%;
  height: 10px;
  margin-left: auto;
  z-index: 15;
}

.header__options-menu {
  position: absolute;
  bottom: 100%;
  list-style: none;
  margin: 0;
  padding: 70px 25px 20px 25px;
  border-radius: 0 0 13px 13px;
  background-color: hsla(0, 0%, 10%, 0.8);
  max-width: 400px;
  width: calc(100% - 50px);
  opacity: 0;
  transition: transform 0.2s, opacity 0.15s;
}

.header__options-menu--active {
  transform: translateY(100%);
  opacity: 1;
}

.header__options-menu li {
  margin-bottom: 10px;
  box-shadow: 0 1px hsla(0, 0%, 90%, 0.2);
}

/* HEADER CLOCK */
.header__clock {
  position: relative;
  color: hsl(0, 0%, 15%);
  font-size: 4rem;
  line-height: 3.5rem;
  font-weight: bolder;
  padding: 14px;
  border-radius: 12px;
  backdrop-filter: blur(15px);
  background-color: hsla(0, 0%, 80%, 0.4);
  z-index: 10;
}

/* HR BEYOND HEADER */
.hr_beyond-header {
  top: calc(100vh - 60px - 30px);
}
/* TOP BAR */
.topbar,
.topbar__nav {
  height: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.topbar__clock {
  display: none;
}

.topbar__nav a {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.topbar__nav a::before {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  bottom: -10px;
  border: 1px solid #090909;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  transition: left 0.2s, width 0.2s, background 0.3s 0.2s;
}

.topbar__nav a.working::before,
.topbar__nav a.in-screen::before,
.topbar__nav a:hover::before {
  display: block;
  border-color: #ffffff;
}

.topbar__nav a.working::before,
.topbar__nav a.in-screen::before {
  background-color: #ffffff;
  left: calc(50% - 2px);
  width: 4px;
}

.topbar__nav a.working::before {
  border-color: #a23e3e;
  background-color: #a23e3e;
}

/* CONTAINER */
.container {
  height: calc(100vh - 60px);
}

/* LK-ICON */
.lk-icon.lki-three_points,
.lk-icon.lki-three_points::before,
.lk-icon.lki-three_points::after {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 40%;
  background-color: #090909;
}

.lk-icon.lki-three_points {
  position: relative;
}

.lk-icon.lki-three_points::before,
.lk-icon.lki-three_points::after {
  position: absolute;
  content: "";
  left: 0;
}

.lk-icon.lki-three_points::before {
  top: -8px;
}

.lk-icon.lki-three_points::after {
  bottom: -8px;
}

.lk-icon.lki-three_bars,
.lk-icon.lki-three_bars::before,
.lk-icon.lki-three_bars::after {
  display: block;
  width: 15px;
  height: 2px;
  background-color: #090909;
}

.lk-icon.lki-three_bars {
  position: relative;
  transition: background 0.3s;
}

.lk-icon.lki-three_bars::before,
.lk-icon.lki-three_bars::after {
  position: absolute;
  content: "";
  transition: transform 0.3s;
}

.lk-icon.lki-three_bars::before {
  transform: translateY(-4px);
}

.lk-icon.lki-three_bars::after {
  transform: translateY(4px);
}

.lk-icon.lki-three_bars--close {
  background-color: transparent;
}

.lk-icon.lki-three_bars--close::before {
  transform: translate(-2px, 0) rotate(45deg);
  width: 18px;
}

.lk-icon.lki-three_bars--close::after {
  transform: translate(-2px, 0) rotate(-45deg);
  width: 18px;
}

.lk-icon.lki-chevron_down {
  position: relative;
  display: block;
  width: 16px;
  height: 12px;
}

.lk-icon.lki-chevron_down::before,
.lk-icon.lki-chevron_down::after {
  position: absolute;
  top: 50%;
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 1px;
  transform-origin: center;
  transition: transform 0.2s;
}

.lk-icon.lki-chevron_down::before {
  left: 0;
  transform: rotate(40deg);
}

.lk-icon.lki-chevron_down::after {
  right: 0;
  transform: rotate(-40deg);
}

.lk-icon.lki-chevron_down--up::before {
  transform: rotate(-40deg);
}

.lk-icon.lki-chevron_down--up::after {
  transform: rotate(40deg);
}

/* LK-HR */
.lk-hr {
  border: none;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, transparent, #090909);
}

/* LK-BTN */
.lk-btn {
  text-align: left;
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding: 10px 12px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* LK-CHECK_BTN */
.lk-check_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  cursor: pointer;
}

.lk-check_btn--active > .lk-check_switch::before {
  transform: translateX(8px);
  background-color: aqua;
}

/* LK-CHECK_SWITCH */
.lk-check_switch {
  display: block;
  width: 22px;
  height: 10px;
  background-color: hsl(0, 0%, 50%);
  border-radius: 2px;
  position: relative;
}

.lk-check_switch::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 90%);
  transition: transform 0.1s, background 0.4s;
}

/* LK-SLIDER */
.lk-slider {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  transition: height 0.2s;
  height: 0px;
  padding: 0px;
}

.lk-slider--active {
  height: 149px;
  padding-bottom: 5px;
}

.lk-slider::-webkit-scrollbar {
  height: 9px;
}

.lk-slider::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 4%, 0.5);
}

.lk-slider::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 90%);
  border-radius: 4px;
  cursor: pointer;
}

.lk-slider::-webkit-scrollbar-thumb:hover {
  background-color: aqua;
}

.lk-slider_card {
  min-width: 100px;
  height: 120px;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 2px;
}

.lk-slider_card:hover {
  background-color: hsl(0, 0%, 15%);
}

.lk-slider_card figure {
  pointer-events: none;
  margin: 0;
}

.lk-slider_card figure img {
  width: 100px;
  height: 70px;
  object-fit: cover;
}
.lk-slider_card figure figcaption {
  text-align: center;
  padding: 10px 0;
}
