@use '../../placeholders' as *;

.alarm-content {
  width: calc(100vw - 76px);
  height: calc(100vh - 231px);
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-top: 1px;
  box-shadow: 0 -1px #2d3335;
  display: flex;
  flex-direction: column;

  &--empty {
    width: calc(100% - 40px);
    height: calc(100vh - 80px);
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    box-shadow: none;

    &__frontage {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & p {
      color: #8d9394;
    }
  }

  &__card {
    @extend %avoid-block-button;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px #323232;
    transition: background-color 0.5s cubic-bezier(0, 0.5, 1, 0.5);

    &:hover {
      background-color: hsla(220, 28%, 10%, 0.8);
    }

    &--active > &__content {
      color: #ffffff;
    }

    &__content {
      color: #8d9394;
      padding: 21px 0;
      margin-right: 20px;
    }

    &__time {
      font-size: 25px;
      display: block;
    }

    &__details {
      margin: 0;
      display: inline-block;

      span.alarm-custom-repeat-text {
        display: block;
        margin-top: 10px;
      }
    }
  }
}
