.alarm-modal {
  height: 100%;
  background-color: hsl(0, 0%, 4%);

  &__content {
    height: calc(100% - 49px);
    overflow: scroll;

    .alarm-option__edit-time {
      padding-top: 14px;
      padding-bottom: 14px;
    }

    .alarm-option__edit-delete {
      display: grid;
      place-items: center;
      padding: 14px;
    }

    .ca-long-btn[data-alarm-button="delete"] {
      color: tomato;
    }
  }
}
