.alarm-modal {
  width: 100%;
  height: 100%;
  padding-left: max(35px, (100vw - 700px) / 2);
  padding-right: max(35px, (100vw - 700px) / 2);
  background-color: hsla(222, 15%, 6%, 0.97);

  &__content {
    padding-top: 1px;
    height: calc(100% - 49px);
    overflow: auto;

    .alarm-option__edit-time {
      padding-top: 14px;
      padding-bottom: 14px;
    }

    .alarm-option__edit-delete {
      display: grid;
      place-items: center;
      padding: 14px;
    }

    .ca-long-btn[data-alarm-button='delete'] {
      color: tomato;
    }
  }
}
