.clock-modal {
  height: 100%;
  background-color: hsl(0, 0%, 4%);

  &__content {
    padding-top: 1px;
    height: calc(100vh - 49px);
    overflow: auto;
  }

  &[data-clock-modal-type="add"] &__content {
    .clock-option__search-input {
      display: grid;
      place-items: center;
    }
  }

  &[data-clock-modal-type="edit"] &__content {
    position: relative;
    width: calc(100% - (38px * 2));
    margin: 0 auto;

    .ca-modal-option-btn {
      justify-content: stretch;
      z-index: 1;
      user-select: none;
      cursor: grab;
    }

    .ca-modal-option-btn.item--dragging {
      cursor: grabbing;
    }

    .ca-i-three_bars {
      margin-right: 14px;
    }

    .ca-i-delete_circle {
      margin-left: auto;
      pointer-events: fill;
      cursor: pointer;
    }
  }
}
