.clock-modal {
  width: 100%;
  height: 100%;
  padding-left: max(35px, (100vw - 700px) / 2);
  padding-right: max(35px, (100vw - 700px) / 2);
  background-color: hsla(222, 15%, 6%, 0.97);

  &__content {
    padding-top: 1px;
    height: calc(100vh - 49px);
    overflow: auto;
  }

  &[data-clock-modal-type='add'] &__content {
    .clock-option__search-input {
      position: sticky;
      top: 0;
      display: grid;
      place-items: center;
    }
  }

  &[data-clock-modal-type='edit'] &__content {
    position: relative;
    width: calc(100% - (38px * 2));
    margin: 0 auto;

    .ca-modal-option-btn {
      justify-content: stretch;
      z-index: 1;
      user-select: none;
      cursor: grab;
    }

    .ca-modal-option-btn.item--dragging {
      cursor: grabbing;
    }

    .ca-i-three_bars {
      margin-right: 14px;
    }

    .ca-i-delete_circle {
      margin-left: auto;
      pointer-events: fill;
      cursor: pointer;
    }
  }
}
