.tool-section {
  height: 100%;
  width: 100vw;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: 1025px) {
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.tool__content {
  min-height: calc(100% - 150px);
  overflow-y: auto;
  overflow-x: hidden;

  @media (min-width: 1025px) {
    width: 50%;
  }
}

.tool__buttons {
  box-shadow: 0 -1px #323232;
  margin: 0 max(35px, calc((100vw - 400px) / 2));
  max-width: 400px;
  height: 150px;
  display: flex;
  gap: 5px;
  overflow-x: auto;

  @media (min-width: 1025px) {
    flex-wrap: wrap;
    width: 50%;
    max-width: 50%;
    margin: 0;
    padding: 0 calc((50vw - 500px) / 2);
    box-shadow: none;
  }
}
