.tool-section {
  height: 100%;
  width: 100vw;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tool__content {
  min-height: calc(100% - 150px);
  overflow-y: auto;
  overflow-x: hidden;
}

.tool__buttons {
  box-shadow: 0 -1px #323232;
  margin: 0 max(35px, calc((100vw - 400px) / 2));
  max-width: 400px;
  height: 150px;
  display: flex;
  gap: 5px;
  overflow-x: auto;
}
