.lk-icon.lki-chevron_down {
  position: relative;
  display: block;
  width: 16px;
  height: 12px;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 1px;
    transform-origin: center;
    transition: transform 0.2s;
  }

  &::before {
    left: 0;
    transform: rotate(40deg);
  }

  &::after {
    right: 0;
    transform: rotate(-40deg);
  }

  &--up::before {
    transform: rotate(-40deg);
  }

  &--up::after {
    transform: rotate(40deg);
  }
}
