.lk-icon.lki-three_points {
  position: relative;

  &,
  &::before,
  &::after {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 40%;
    background-color: #090909;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }
}
