.modal {
  position: fixed;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

.modal[data-modal-animation="botToTop"] {
  display: block;
  transition: transform 0.2s;
  transform: translateY(100%);
}

.modal[data-modal-animation="rightToLeft"] {
  display: block;
  transition: transform 0.2s;
  transform: translateX(100%);
}

.modal[data-modal-animation="opacity1"] {
  display: block;
  transition: opacity 0.2s;
  opacity: 0;
}

.modal--active[data-modal-animation] {
  transform: translate(0, 0);
  opacity: 1;
}
